* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  color: #9198A1;
}

header {
  background: #131F3C;
  padding: 15px 0;
  width: 100%;
  position: fixed;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}

.navigation {
  display: inline-block;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding-inline: 10px;
}

.logo h1 {
  font-family: 'Lucida Handwriting', Verdana, sans-serif;
  color: white;
  font-size: 24px;
}

.links {
  display: none;
}

/* menue */
.unorderedList {
  display: block;
}

.select a {
  align-content: right;
}

.menu {
  width: 30%;
  padding: 0 8px;
  background: #9198A1;
  border: #9198A1 solid 1px;
  border-radius: 3px;
  float: right;
}

.unorderedList li {
  list-style: none;
}

.unorderedList a {
  text-decoration: none;
}

section {
  background: #000;
  padding: 80px 0 50px;
}

.section {
  width: 80%;
  margin: auto;
}

.choose {
  padding: 30px 0;

}

.choose a {
  text-decoration: none;
  color: white;
  padding-right: 30px;
}

.container {
  background: #151b23;
  border: solid 1px #293241;
}

h2,
.activities p,
.voluntary,
.pianoAudio {
  padding: 20px;
}

.images img {
  width: 100%;
}

.pianoAudio {
  background: #151b23;
  margin: 30px 0;
  border: solid 1px #293241;
}

.paragraph {
  margin-bottom: 30px;
}

audio {
  width: 75%;
}
p {
  font-size: 16px;
  line-height: 24px;
}

footer {
  background: #293241;
  padding: 20px 0 10px;
}

.codedBy {
  width: 80%;
  display: block;
  margin: auto;
  text-align: left;
}
.codedBy p{
  font-size: 14px;
}
.unorderedList{
  display: none;
}

@media only screen and (min-width:481px) and (max-width:768px) {
/*mobile landscape*/
  p {
    font-size: 17px;
    line-height: 27px;
  }

  .logo h1 {
    font-size: 26px;
  }
  .pianoAudio{
    width: 70%;
  }
  .images{
    padding:0 20px ;
  }
}

@media(min-width:769px) and (max-width:1024px) {

  /*tablet portrait*/
  p {
    font-size: 18px;
    line-height: 27px;
  }

  .logo {
    font-size: 28px;
  }
  .pianoAudio {
    width: 60%;
  }
  .images {
    padding: 0 20px;
  }
}

@media(min-width:1025px) {

  /*tablet landscape and desktop*/
  .links {
    display: block;
  }

  .select {
    display: none;
  }
  p {
    font-size: 19px;
    line-height: 30px;
  }

  .logo {
    font-size: 32px;
  }

  .section,
  .codedBy,
  .head {
    width: 60%;
  }
  .pianoAudio {
    width: 60%;
  }
  .images {
    padding: 0 20px;
  }
}

@media(min-width:1281px) {

  /*desktop*/

  .logo {
    font-size: 36px;
  }

  p{
    font-size: 20px;
    line-height: 30px;
  }
  .pianoAudio {
    width: 50%;
  }
  .images {
    padding: 0 20px;
  }
}